In [0]:
!pip install geocoder
!pip install geopy
!pip install folium

In [0]:
# Import the required libraries
import pandas as pd
import numpy as np
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates
import folium # map rendering library
import re
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# **Creating Dataframe and viewing the structure of Bangalore House Dataset**

In [0]:
# Import the kaggle dataset
house_df = pd.read_csv("Bengaluru_House_Data.csv")
house_df.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

# **Getting Location Coordinates**

In [0]:
# Add city name to location column to get the latitude and longitude.
house_df['location'] = house_df['location'].astype(str) + ', Bangalore'

In [0]:
# User defined function to get the location coordinates
def get_latlng(location):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}'.format(location))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [0]:
# Get the latitude and longitude coordinates
coords = [ get_latlng(location) for location in house_df["location"].tolist() ]

In [0]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])

In [0]:
# merge the coordinates into the original dataframe
house_df['Latitude'] = df_coords['Latitude']
house_df['Longitude'] = df_coords['Longitude']

In [0]:
# Save the data to a new file for further processing
house_df.to_csv(r'Bengaluru_data.csv', index = False)

# **Structure of Bangalore house dataset along with coordinates**

In [0]:
# Import dataset along with coordinates
house_df = pd.read_csv("Bengaluru_data.csv")
house_df.head()

              area_type   availability  ...   Latitude  Longitude
0  Super built-up  Area         19-Dec  ...  12.848672  77.677529
1            Plot  Area  Ready To Move  ...  12.904190  77.505480
2        Built-up  Area  Ready To Move  ...  12.897570  77.528300
3  Super built-up  Area  Ready To Move  ...  13.001340  77.479150
4  Super built-up  Area  Ready To Move  ...  13.064340  77.648550

[5 rows x 11 columns]